{% comment %} 
       - metaobjects used:
        quiz
        product_finder_step
        choice
    
        Schema for quiz metaobject:
    
          steps: [product_finder_step metaobject]
          collect_email: Boolean
          email_text: single line text
          image: Image file for final result page
          heading: single line text
          body: single line text
          empty_results: collection
    
        
        Schema for product_finder_step metaobject:
          image: image of the step
          heading: sigle line text
          previous_product_finder_step: previous step, if first step leave empty 
          choices: [choice metaobject]
          parent_quizz: parent quiz of current step
    
        Schema for choice metaobject::
          text: single line text
          image: image
          button_label: single line text
          answer: single line text
{% endcomment %}
<style>
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 1s;
  }
</style>
<noscript>
  <style>
    .final-step-container {
      display: none !important;
    }
    progress {
      display: none !important
    }
    .results-wrapper {
      opacity: 1 !important;
    }
    .results-container {
      display: block !important
    }
  </style>
</noscript>
<section class="quiz-wrapper grid items-center py-[calc(var(--spacing)*0.75)] lg:py-[--spacing]" style="--spacing: {{ section.settings.spacing }}px">
  {% liquid
    assign progress = 1
    assign total = 0
    assign parent_quiz = metaobject.parent_quizz.value
    for step_in_quiz in parent_quiz.steps.value
      if metaobject == step_in_quiz
        assign progress = forloop.index
      endif
      assign total = total | plus: 1
    endfor

    assign is_final_step = false
    if progress >= total
      assign is_final_step = true
    endif

    if parent_quiz.collect_email
      assign total = total | plus: 1
    endif

    render 'progress-bar', class: 'absolute top-0', value: progress, max: total
  %}


  <quiz-step
    {% if is_final_step %}
    data-final="true"
    {% endif %}
    data-step="{{ progress }}"
    data-quiz="{{ parent_quiz.system.id  }}"
    data-stepurl="{{ metaobject.system.url  }}"
    class="relative container mx-auto px-4 flex flex-col items-start gap-4 md:flex-row md:items-center md:gap-10">
    {% if is_final_step %}
      {% render "product-finder-result-layout"
        , parent_quiz: parent_quiz %}
    {% else %}
      {% render "product-finder-step-layout" %}
    {% endif %}
  </quiz-step>
</section>

{% schema %}
  {
    "name": "Product Finder",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "What is your favorite color?"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "We will use this information to match you with the perfect selection."
      },
      {
        "type": "header",
        "content": "Back Button"
      }, {
        "type": "text",
        "id": "back_button_label",
        "label": "Back Button Label",
        "default": "Go back to the homepage"
      }, {
        "type": "url",
        "id": "back_button_link",
        "label": "Back Button Link"
      }, {
        "type": "page",
        "id": "previous_page",
        "label": "Previous Page",
        "info": "Use page to automatically set the back button link to the previous page."
      }, {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Vertical Spacing",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "choice",
        "name": "Choice",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "Value",
            "default": "answer"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Choose Answer"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": []
  }
{% endschema %}